/* Naming way */
div{
    border: 2px solid black;
    height: 250px;
    width:500px;
    background-color: red;
/* RGB VALUES */
background-color: rgb(255, 0,0);
background-color: rgb(0,255,0);
background-color: rgb(0,0,255);
background-color: rgb(0,0,0);
background-color: rgb(255,255,255);
background-color: rgb(109,109,194);

/* RGBA VALUES */
/* A value takes from 0-1*/
background-color: rgba(255,0,0,0.00001);

/* Hexa values */
background-color:#ff0000 ;
background-color: #00ff00;
background-color: #0000ff;
background-color: #000000;
background-color: #ffffff;

background-color:#f00 ;
background-color:#0f0 ;
background-color:#00f ;
background-color:#000 ;
background-color:#fff ;



}