*{
    margin: 0;
    box-sizing: border-box;
}
main{
    height:100vh;
    width: 100vw;
   display: flex;
   flex-direction: column;
}
nav{
 flex-basis: 20%;
 border: 3px solid red;
 display: flex;
 justify-content:space-between;
}
section{
    flex-basis: 80%;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
img{
    height: 150px;
    width: 200px;
}

#one{
    flex-basis: 20%;
}
#two{
    flex-basis: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
    font-size: 50px;
    
}
h1{
 font-family: cursive;
 font-size: 50px;
}