section{
    height: 300px;
    width: 300px;
    background-color: red;
    transition: all 2s 0s ease;
    position:relative;
    top: 200px;
    left:550px;
}

section{
    transform: translate(300px,300px);
    transform: translateX(200px);
    transform: translateY(300px);
}
section:hover{
    /* (clock wise) */
    transform: rotate(45deg);
     /* (anti clock) */
    transform: rotate(-45deg);   
}
section{
    transform: scaleX(2);
    transform: scaleY(2);
    transform: scale(2,o.5);
}
section{
    transform: skewX(45deg);
    transform: skewY(55deg);
    transform: skew(45deg,55deg);
}

section{
    transform:100px,100px ;
    rotate: 360deg;
    scale: 2;
}